<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="MatrixLogger.Properties.Settings.localHubConnectionString" connectionString="Data Source=DESKTOP-EGJET2P\SQLEXPRESS;Initial Catalog=localHub;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RecipiesEntities" connectionString="metadata=res://*/RecipesModel.csdl|res://*/RecipesModel.ssdl|res://*/RecipesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Recipies;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LoggerEntities" connectionString="metadata=res://*/XL2Model.csdl|res://*/XL2Model.ssdl|res://*/XL2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Logger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings></appSettings>
</configuration>